<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">Новости <span class="sr-only">(current)</span></a> -->
        <%= link_to "Новости", admin_adverts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Щенки в питомнике</a> -->
        <%= link_to "Щенки в питомнике", admin_puppies_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Собаки в питомнике", admin_dogs_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
